.gameBoard {
  display: grid;
  grid-template-columns: repeat(21, 1fr);  
  grid-template-rows: repeat(21, 1fr);   
  }
  #gameBoard {
    display: grid;
    grid-template-columns: repeat(21, 1fr);  
    grid-template-rows: repeat(21, 1fr);   
    }